#MainNav{
  
    color:white;
    
  
  }
  .navBar{
  z-index:2;
  position: fixed !important;
  background:rgba(26, 24, 24, 0.849);
  
  }
  
  #devLogo{
    font-size: 32px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
  }
  
  
  
  .NavBarList{
    display: flex;
  }
  /* .currentPage{
    background-color: rgba(165, 130, 130, 0.438);
  } */
  .listItem{
    margin-left: 7px;
    font-size: 0.6em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .listItem:hover{
    cursor: pointer;
    background: rgba(17, 106, 109, 0.493);
  
  }
  
  /* Align icon to left */
  #what .items .item {
    display: flex;
    text-align: left;
  }
  
  /* Position icon */
  #what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
  }
  
  #contact .map {
    flex: 2;
  }
  .l-heading {
    font-size: 40px;
    line-height: 1.2;
  }
  
  .lead {
    font-size: 20px;
  }
  
  
  
  
  #showcase {
    background: black url('https://wallpapercave.com/wp/wp2757874.gif') no-repeat center;
    background-size: cover;

    height: 650px;
  
  }
  
  #showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding: 170px;
  }
  
  #showcase .showcase-content h1 {
    font-size: 3.2em;
    line-height: 1.2em;
  }
  
  #showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
  }
  
  .BigOne{
      position: relative;
  }

 #user-blog-qa{
     margin-left: 25em;
     margin-right: 25em;
     margin-top: 0em;
     margin-bottom: 0em;

     width: 800px;
     position:absolute;
     bottom:-40px;
     text-align:center;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 10px 1px 30px 0 rgba(109, 108, 108, 0.486);
 }
 .user-blog-qa-item{
     
     padding: 1em;
 }
 .homeIcons{
      padding-right: 10px;
      max-height: 70px;
      width: auto;
  }
  .user-blog-qa-item .text{
      display: inline-block;
  }
 

/* 
   .block-quick-info-2 {
    //padding: 2rem 0; 
    position:absolute;
    bottom: -50px !important;
    left: 200px !important;
  }
 
  .block-quick-info-2 .block-quick-info-2-inner {
    position: relative;
    z-index: 2;
    padding: 30px;
    background: #fff;
    // margin-top: -80px;  
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 30px 0 rgba(97, 97, 97, 0.877);
  }
  
  .block-quick-info-2 .quick-info-2 .icon {
    font-size: 3rem;
    color: #b3b3b3;
    color: #ea728c;
  }
  
  .block-quick-info-2 .quick-info-2 .text {
    color: rgb(58, 0, 116) !important;
    // font-size: 0.7em; 
    font-weight: 300;
  }
  .block-quick-info-2 .quick-info-2 .text .heading {
    // padding: 2.3em 0em 0em 0em; 
    // color: purple; 
    font-size: 0.7em;
    font-weight: 300;
  }
  .quick-info-2{
    font-size: 2em;
  }
  .block-quick-info-2 .quick-info-2 .text .excerpt {
    color: red;
    font-size: 1em;
  }
  
  .block-services-1 {
    color: rgb(104, 104, 104);
  }
  
  .block-services-1 h3 {
    color: #000;
  }
  
  .block-services-1 .block-service-1-more {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    display: inline-block;
  }
  
  .block-services-1 .block-service-1-more .icon {
    position: absolute;
    right: -20px;
    font-size: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .block-services-1 .block-service-1-more:hover {
    padding-right: 10px;
  }
  
  .block-services-1 .block-service-1-card .thumbnail-link {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .block-services-1 .block-service-1-card .thumbnail-link img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  .block-service-1-excerpt
  {
    background-color: rgba(136, 183, 213, 0.404);
  }
  .block-services-1 .block-service-1-card .block-service-1-heading {
    font-size: 20px;
  }
  
  .block-services-1 .block-service-1-card .block-service-1-heading a {
    color: #000;
  }
  
  .block-services-1 .block-service-1-card .block-service-1-heading a:hover {
    color: #ea728c;
  }
  
  .block-services-1 .block-service-1-card:hover .thumbnail-link img, .block-services-1 .block-service-1-card:focus .thumbnail-link img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
   */
