.profileBG{
    /* background: url("https://marketplace.canva.com/EADan4b2aiE/1/0/800w/canva-photo-of-triangle-shape-digital-wallpaper-KOZl2W4wCi8.jpg"); */
    background-size: cover;
    
    /* max-width: 1e; */
    /* min-width: 100rem; */
    width: 100%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    position: relative;
}

.userCard{
    /* min-width: max-content; */
    width: 15rem;
    height: 15rem;
}